* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.formContainer {
  background: #f9fafb;
  width: 100vw;
  height: 100vh;
  display: flex;

  .left {
    flex: 1;
    background-image: url("./images/janis_ringli_jzbldt3encq_unsplash_1.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .right {
    flex: 2;
    background: blue;
  }
}
